tr {
	height: 20vh;
}

td { 
	border: 5px solid black;
	width: 16.66vw;
}

.flick {
	animation-name: bit;
	animation-duration: 0.5s;
	animation-play-state: paused;
}

@keyframes bit {
	from {background-color: green} 
	to { background-color: white}
}
